@(user: models.users.User)
@main("Home", user){
     
      
      <!-- Jumbotron -->

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">BrauHaus</h1>
    <p class="lead">Dublins finest brewery in the City Centre</p>
  </div>
</div>
 
        <!-- About Us -->                                              
    <div class= container-fluid padding> 
        <div id ="aboutus">
        <div class="row text-center">
            <div class="col-12">
                <h1 class ="display-4">About Us</h1>
           <hr>
                <div class"col-12">
                <p class="about">BrauHaus is a brewery and restaurant based in the heart of Dublin City.
                <br> With exquisite cuisine and beautifully locally crafted beers on tap it is worth a visit. <br>Stuck home at home? Order our craft beers from our online store directly to your house.
                    </p>
                    </div>
                </div>
            
     
        </div>
      
      </div>
      </div>
      
    }